#mainNav a.navbar-brand {
    white-space: initial;
}

.title-banner {
    text-shadow: 2px 2px 4px #000000;
}

.masthead {
    min-height: 350px;
    height: auto;
    padding-top: 0px;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

.title-banner {
    color: #fff;
    font-size: 70px !important;
}

.portfolio-item {
    height: 225px;
}

.portfolio-item .caption-content {
    width: 100%;
}

.portfolio-item .caption .caption-content {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.caption-content .caption-text {
    text-align: center !important;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700 !important;
}

.content-section {
    padding-top: 0rem;
    padding-bottom: 1.0rem;
}

.navbar-light .navbar-brand {
    color: #464a4e;
    font-weight: 600;
    font-size: 25px;
}

.manager-center .col-sm-6 {
    padding-top: 10px;
    /*background-color: #b7a65c8c;*/
}

/*Trungtam ql*/
.image-full {
    width: 100%;
}

#footer_ioc {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

/*can bo quan ly*/
.box-epmt .panel-image {
    text-align: left;
    margin-bottom: 20px;
}

.box-epmt .panel-image figure {
    margin: 0;
    position: relative;
}

.box-epmt .panel-image figure img {
    max-width: 100%;
    display: block;
    position: relative;
}

.box-epmt .panel-image figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    /*background: #E4F1FE; */
    color: #fff;
}

.box-epmt .panel-image figcaption h3 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    color: #edff01;
    font-weight: bold;
}

/*.box-epmt .panel-image figcaption a { text-align: center; padding: 5px 10px; border-radius: 2px; display: inline-block; background: #ed4e6e; color: #fff; transition: 0.5s; opacity: 0; }*/

/!!* Caption Style 3 *!/!*/*.box-epmt .cs-style-3 figure { overflow: hidden; }*/

.box-epmt .cs-style-3 figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    width: 100%
}

.box-epmt .cs-style-3 figure:hover img {
    /* -webkit-transform: translateY(-50px);
   -moz-transform: translateY(-50px);
   -ms-transform: translateY(-50px);
   transform: translateY(-50px); */
}

.box-epmt .cs-style-3 figcaption {
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0.9;
    transition: 0.7s;
    text-align: right;
}

.box-epmt .cs-style-3 figure:hover figcaption {
    opacity: 1;
}

.box-epmt .cs-style-3 figure:hover figcaption a {
    opacity: 1;
}

.box-epmt .cs-style-3 figcaption a {
    position: absolute;
    bottom: 20px;
    right: 5px;
    font-size: 13px;
}

#giao_vien .box-epmt .cs-style-3 figcaption a {
    position: absolute;
    bottom: 12px;
    right: 5px;
}

.hyper-link {
    font-size: 20px;
}

/*BTT*/
.bg-top-toolbar {
    width: 50px;
    position: fixed;
    left: 10px;
    top: 70px;
}

.list-group > a {
    margin-bottom: 5px;
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}

.card {
    display: inline-block;
    margin-right: 9px;
    margin-top: 10px;
    width: 22rem;
    /*max-width: 46%;*/
}

.card-text {
    color: #fff;
}

#portfolio {
    padding: 10px 15px;
}

.cart-ttdh {
    width: 100%;
    max-width: 100%;
}

.title-box-1 h4 {
    display: inline-block;
    margin-top: 10px;
    padding-left: 0px;
    color: #dc3545;
}

.box-1-content {
    /*border-radius: 10px;*/
    padding: 15px 30px 15px;
    margin-top: 0px;
    background: #fff;
}

.box-1-content .tag-hr {
    border-top: 2px solid #6699cc;
}

.box-epmt .box-left {
    padding-right: 1.5rem;
}

.box-epmt .box-right {
    padding-left: 1.5rem;
}

.box-1-content-right {
    /*background: linear-gradient(90deg,rgba(92, 92, 92, 0.55) 0,rgba(101, 100, 100, 0.64) 100%),url(../img/bg-masthead.jpg);*/
    background-image: url('../images/manager/quangninhmap_1.png');
    background-position: center center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
}

.box-1-content-right:hover {
    background-image: url('../images/manager/quangninhmap_2.png');
}

.box-epmt .title-box-2 {
    margin-bottom: 15px;
    margin-top: 25px;
}

.fix-bottom-div {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 90px);
}

.box-1-content .subject-alert {
    color: #000;
}

.content-wrning1 {
    color: #000;
}

.slick-item i {
    font-size: 20px;
    padding-right: 5px;
}

.report-btt {
    display: inline-block;
    float: right;
}

.report-btt .btn-info {
    background: #3f66ab;
}

.report-btt .btn-danger {
    background: #ee4035;
}

.export-btt label {
    padding-right: 5px;
}

.export-btt a {
    margin-left: 5px;
}

@media only screen and (max-width: 600px) {
    .box-epmt .box-left {
        padding-right: 0;
    }

    .box-epmt .box-right {
        padding-left: 0;
    }

    .box-1-content-right {
        margin-top: 30px;
    }

    .fix-mobile {
        margin-top: 20px;
    }
}

.box-epmt .title-12box {
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 16px;
    font-weight: bold;
    width: 68%;
    text-align: right;
}

/*css trang viec lam atld*/
#export_vlatld > .form-group {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 5px;
}

#sl_district {
    width: auto;
    float: right;
}

.box-chart-demo .card {
    width: 100%;
}

.box-chart-demo .number-card {
    color: #000;
    font-size: 16px;
    text-align: center;
    height: 2.5rem;
}

.box-chart-demo .card-body {
    background: #e5f2ff;
}

.box-chart-demo .card-header {
    height: 4rem;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    background-color: #17a2b8bd;
}

.box-chart-demo h5.card-title {
    text-align: center;
    font-size: 32px;
}

.box-ldtbxh .box-1-content {
    height: 16.5rem;
}

.container-bs .thumbnail a:hover {
    text-decoration: none;
}

.container-bs .thumbnail {
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
    border-radius: .375rem;
}

.container-bs .row > .col-md-4 {
    margin-top: 20px;
}

.title-box-bs {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding: 24px 32px;
    /*font-size: 1.5rem;*/
    font-weight: 400;
    color: #2e3d49;
}

/*nguoi co cong*/
.modal-btt .card {
    width: 100%;
}

.modal-btt .card p {
    padding: 0 6px;
    font-size: 15px;
}

.modal-btt .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;

}

.modal-btt .title-name {
    margin-top: 5px;
}

.modal-btt .title {
    color: grey;
    font-size: 16px;
    margin-bottom: 0px;
}

.modal-btt button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.modal-btt button:hover, a:hover {
    opacity: 0.7;
}

#vnahModal .modal-lg, #dsldModal .modal-lg {
    max-width: 80%;
}

#vnahModal .modal-title {
    width: 100%;
    text-align: center;
}

#Modal2 .border-radius {
    border-radius: 50%;
}

#Modal2 .modal-content {
    background: #d3d6d6;
}

.box-2-content {
    width: 275px;
    height: 12rem;
    border: solid 1px #6699cc;
    padding: 15px 30px 15px;
    margin-top: 15px;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
    border-radius: .375rem;
}

.box-2-content .tag-hr {
    border-top: 2px solid #6699cc;
}

.a:hover {
    text-decoration: none;
}

.caption {
    font-size: 19px;
    font-weight: 700;
    color: #fff;
    padding-left: 7px;
}

.menu-box {
    padding-top: 50px;
}

.menu-box a {
    text-decoration: none;
}

.imageBox:hover .hoverImg {
    display: block;
}

.imageBox {
    position: relative;
    float: left;
}

.imageBox .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.imageBox:hover .hoverImg {
    display: block;
}

.box-hoidap {
    border: 1px solid #ddd !important;
}

.box-hoidap .section-title {
    font-size: 16px;
    color: #c20000 !important;
    text-decoration: none !important;
    padding-left: 15px !important;
    font-weight: bold !important;
    border-bottom: none !important;
    position: relative !important;
    margin-top: 10px !important;
    padding-right: 15px !important;
    line-height: 1.7 !important;
    padding-bottom: 5px !important;
}

.container1 img {
    border-radius: 10px;
}

.noivu-item {
    /* background: rgb(220,53,69); */
    background: url(../images/bg-category.jpg) no-repeat;
    color: #fff;
    /*min-height: 130px;*/
    margin-bottom: 10px;
    text-align: center;
    border-radius: 15px;
}

.noivu-item > img {
    width: 60px;
    height: 60px;
    margin: 5px auto;
    margin-top: 5px;
}

.noivu-item span {
    color: #fff;
}

.content-wrning1 img {
    width: 132px;
    float: left;
    padding-right: 10px;
}

.lienquan_news p {
    margin-bottom: 5px;
}

.mt-mb20 {
    margin-bottom: 20px;
}

.mt-mb15 {
    margin-bottom: 15px;
}

.user-group .mt-title {
    background: #fafafa;
    padding: 8px 15px;
    font-size: 18px;
    border: 1px solid #f0f0f0;
    margin: 0;
}

.mt-list {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.mt-list-users .mt-thumb {
    height: 240px;
    width: 160px;
    float: left;
}

.mt-list-users .mt-infor {
    width: -webkit-calc(100% - 160px);
    width: -moz-calc(100% - 160px);
    width: -ms-calc(100% - 160px);
    width: -o-calc(100% - 160px);
    width: calc(100% - 160px);
    float: right;
    padding-left: 15px;
}

.mt-list-users .mt-thumb img {
    height: 220px;
}

.mt-list-users .mt-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.mt-list-users .mt-title a {
    color: #333;
}

.vv-content-title1 h3 {
    margin-top: 0;
    height: 42px;
    line-height: 36px;
    color: #fff;
    background: #c92127;
    font-size: 17px;
    text-transform: uppercase;
    padding-left: 53px;
    line-height: 43px;
    border-radius: 5px;
}

.vv-images-danger img {
    width: 43px;
    position: absolute;
    padding-bottom: 10px;
    height: 52px;
}

.vv-content-title1 h3 {
    margin-top: 0;
    height: 42px;
    line-height: 36px;
    color: #fff;
    background: #c92127;
    font-size: 17px;
    text-transform: uppercase;
    padding-left: 53px;
    line-height: 43px;
    border-radius: 5px;
}

.vv-content-left {
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: center;
    padding: 20px;
    height: 144px;
    color: #fff;
    font-size: 18px;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
}

.vv-content-left:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 141px;
    height: 88px;
    transform: translate(-50%, -50%);
    background-image: url(../images/hoa_sen.png);
}

.mt-list {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.mt-media-list > li > a {
    display: block;
    padding: 10px 15px;
    margin-bottom: 15px;
    background: #c92127;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

table {
    background-color: transparent;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.mt-table-newspaper tr:nth-child(2n + 1) {
    background-color: #f7f7f7;
}

.mt-table-newspaper tr:first-child td {
    background-color: #2b398f;
    color: #fff;
    border-color: #2b398f;
    font-size: 16px;
    font-weight: normal;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

.mt-table-newspaper td {
    border: 1px solid #ddd;
    vertical-align: middle !important;
}

.mt-table-middle tr td {
    vertical-align: middle !important;
}

.mt-media-list > .active > a {
    background: #2b398f !important;
}

.oy .tab-pane {
    height: 465px;
    overflow-y: scroll;
    opacity: 1;
}

.oy .tab-pane::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.oy .tab-pane::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.oy .tab-pane::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #D62929;
}

/* bướng css */
@media (max-width: 1700px) {
    .body-buong > canvas {
        height: 520px !important;
    }
}
.td-img img {
    width: 180px;
    height: 200px;
    object-fit: cover;
}